Source: lua-mediator
Section: interpreters
Priority: optional
Maintainer: Jason Pleau <jason@jpleau.ca>
Build-Depends:
 lua-busted <!nocheck>,
 debhelper-compat (= 13),
 dh-lua,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/Olivine-Labs/mediator_lua
Vcs-Git: https://salsa.debian.org/lua-team/lua-mediator.git
Vcs-Browser: https://salsa.debian.org/lua-team/lua-mediator

Package: lua-mediator
Architecture: all
Depends:
 ${misc:Depends},
Provides:
 ${lua:Provides},
XB-Lua-Versions: ${lua:Versions}
Description: Mediator pattern implementation in Lua
 mediator_lua is a simple class that allows you to listen to events by
 subscribing to and sending data to channels.
 .
 Its purpose is to help you decouple code where you might otherwise have
 functions calling functions calling functions.
